BaseXClient.py
BaseXClient.pyc
ConfigFile.ini
Makefile
README.md
correct_sentence_annotations.txt
executequeries.sh
list_entries_for_schema.pl
list_lexicon_cni_roots_and_affixes_for_schema.xq
list_lexicon_entries.pl
list_lexicon_entries.xq
list_lexicon_entries_for_schema.xq
noun.headers.prq.txt
noun.lexicon.prq.txt
noun.suffix.prq.script
noun.transitions.prq.script
other.lexicon.prq.txt
program.pl
query_nodes_in_the_transducer_4_foma.py
query_transducer_elements.pl
query_transducer_noun_suffixes_4_python.xq
query_transducer_noun_suffixes_lists.xq
query_transducer_verb_suffixes_4_python.xq
query_transducer_verb_suffixes_lists.xq
test.pl
test.xq
tokenize.pl
verb.headers.prq.txt
verb.lexicon.prq.txt
verb.suffix.prq.script
verb.transitions.prq.script
*~
